---
styles:
  raw:
    - "body { background-color: #2ecc71; }"
    - "body { background-color: #c0ffee; }"
  inline:
    - styles/inline-1.css
    - styles/content-inline-1.css
  sync:
    - /styles/sync-1.css
    - /styles/content-sync-1.css
  async:
    - /styles/async-1.css
    - /styles/content-async-1.css
scripts:
  raw:
    - "console.log('Hello from raw script.');"
    - "console.log('Hello from content script.');"
  inline:
    - scripts/inline-1.js
    - scripts/content-inline-1.js
  sync:
    - /scripts/sync-1.js
    - /scripts/content-sync-1.js
  async:
    - /scripts/async-1.js
    - /scripts/content-async-1.js
partials:
  - partials/partial-1.tmpl
---
contents::content-1. {{> partials/partial-1.tmpl}} {{ data.hello }}
{{{content}}}
