---
scripts:
  inline:
    - ./inline.js
    - inline-2:
      src: ./inline-2.js
      type: nomodule
  sync:
    - ./sync.js
    - /sync.js
  async:
    - ./async.js
    - /async.js
---
{{#hopin.scripts.inline}}
{{{src}}}
{{/hopin.scripts.inline}}
{{#hopin.scripts.sync}}
{{{.}}}
{{/hopin.scripts.sync}}
{{#hopin.scripts.async}}
{{{.}}}
{{/hopin.scripts.async}}
