---
scripts:
  inline:
    - ./inline.js
    - ./inline.js
  sync:
    - ./sync.js
    - /sync.js
    - ./sync.js
    - /sync.js
  async:
    - ./async.js
    - /async.js
    - ./async.js
    - /async.js
---
{{#hopin.scripts.inline}}
{{{.}}}
{{/hopin.scripts.inline}}
{{#hopin.scripts.sync}}
{{{.}}}
{{/hopin.scripts.sync}}
{{#hopin.scripts.async}}
{{{.}}}
{{/hopin.scripts.async}}
