---
styles:
  inline:
    - ./extra-files/styles/inline-1.css
  sync:
    - /styles/sync-1.css
  async:
    - /styles/async-1.css
scripts:
  inline:
    - ./extra-files/scripts/inline-1.js
    - ./extra-files/scripts/inline-1.mjs
    - inline-1.2:
      src: ./extra-files/scripts/inline-1.2.js
      type: nomodule
    - inline-1.3:
        src: ./extra-files/scripts/inline-1.3.js
        type: module
  sync:
    - /scripts/sync-1.js
    - /scripts/sync-1.mjs
  async:
    - /scripts/async-1.js
    - /scripts/async-1.mjs
elements:
  - div
---

{{hopin_headAssets}}

{{content}}

{{hopin_bodyAssets}}