---
styles:
  inline:
    - ./inline-4.css
  sync:
    - /sync-4.css
  async:
    - /async-4.css
scripts:
  inline:
    - ./inline-4.js
  sync:
    - /sync-4.js
  async:
    - /async-4.js
---
hello from nested partial import