---
hello:
  world:
    - "I'm an example"
data:
  exampleObj:
    top: example string
    nesting:
      - Nesting array 1
      - Nesting array 2
styles:
  inline:
    - ./extra-files/styles/inline-1.css
  sync:
    - ./sync-rel.css
    - /sync-abs.css
  async:
    - ./async-rel.css
    - /async-abs.css
scripts:
  inline:
    - ./extra-files/scripts/inline-1.js
    - ./extra-files/scripts/inline-1.mjs
    - inline-2:
      src: ./extra-files/scripts/inline-1.2.js
      type: nomodule
    - inline-3:
        src: ./extra-files/scripts/inline-1.3.js
        type: module
  sync:
    - ./sync-rel.js
    - /sync-abs.js
  async:
    - ./async-rel.js
    - /async-abs.js
partials:
  - ./example-partial.tmpl # This is not real - parsing yaml shouldn't read this file.
---

<h1>Example HTML</h1>

## Example Markdown