---
styles:
  raw:
    - "body { background-color: #3498db; }"
  inline:
    - styles/inline-2.css
  sync:
    - /styles/sync-2.css
  async:
    - /styles/async-2.css
scripts:
  raw:
    - "console.log('Hello from partial-1 raw script.');"
  inline:
    - scripts/inline-2.js
  sync:
    - /scripts/sync-2.js
  async:
    - /scripts/async-2.js
partials:
  - /partial-2.tmpl
---
contents::partials/partial-1. {{> /partial-2.tmpl}} {{ data.hello }}
