---
styles:
  inline:
    - ./inline.css
    - ./inline-3.css
  sync:
    - /sync.css
    - /sync-3.css
  async:
    - /async.css
    - /async-3.css
scripts:
  inline:
    - ./inline.js
    - ./inline-3.js
  sync:
    - /sync.js
    - /sync-3.js
  async:
    - /async.js
    - /async-3.js
partials:
- ./partial-import-with-styles-and-scripts.tmpl
---
{{> "./partial-import-with-styles-and-scripts.tmpl"}}

{{#hopin.styles.inline}}
{{{.}}}
{{/hopin.styles.inline}}
{{#hopin.styles.sync}}
{{{.}}}
{{/hopin.styles.sync}}
{{#hopin.styles.async}}
{{{.}}}
{{/hopin.styles.async}}

{{#hopin.scripts.inline}}
{{{src}}}
{{/hopin.scripts.inline}}
{{#hopin.scripts.sync}}
{{{.}}}
{{/hopin.scripts.sync}}
{{#hopin.scripts.async}}
{{{.}}}
{{/hopin.scripts.async}}