---
hello: world 2
styles:
  inline:
    - ./styles/inline-2.css
  sync:
    - ./styles/sync-2.css
  async:
    - ./styles/async-2.css
scripts:
  inline:
    - ./scripts/inline-2.js
    - ./scripts/inline-2.mjs
    - inline-2.2:
      src: ./scripts/inline-2.2.js
      type: nomodule
    - inline-2.3:
        src: ./scripts/inline-2.3.js
        type: module
  sync:
    - ./scripts/sync-2.js
  async:
    - ./scripts/async-2.js
partials:
  - ./partials-example-nested-import.tmpl
---
<h2>HTML</h2>
## MD

{{ yaml.hello }}
{{ data.hello }}

{{hopin_loadComponent "./partials-example-nested-import.tmpl"}}