---
styles:
  raw:
    - "body { background-color: #9b59b6; }"
  inline:
    - styles/inline-3.css
  sync:
    - /styles/sync-3.css
  async:
    - /styles/async-3.css
scripts:
  raw:
    - "console.log('Hello from partial-2 raw script.');"
  inline:
    - scripts/inline-3.js
  sync:
    - /scripts/sync-3.js
  async:
    - /scripts/async-3.js
---
contents::partials/partial-2. {{ data.hello }}
